{% extends "layout.html" %}
{% set active = "add" %}
{% block content %}

<h3 class="mb-4 text-center">Ajouter un tirage</h3>

<form method="POST">

    <!-- Date -->
    <div class="mb-3">
        <label class="form-label">Date du tirage</label>
        <input type="text" name="date" class="form-control" placeholder="JJ/MM/AAAA" required>
    </div>

    <!-- Numéros -->
    <div class="mb-3">
        <label class="form-label">Numéros tirés</label>
        <div class="row">
            {% for i in range(6) %}
            <div class="col-4 mb-2">
                <input type="number" name="nums" class="form-control text-center" placeholder="N°" required>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bonus tirage -->
    <div class="mb-3">
        <label class="form-label">Numéro complémentaire tiré</label>
        <input type="number" name="bonus" class="form-control" required>
    </div>

    <!-- Bonus joué -->
    <div class="mb-3">
        <label class="form-label">Numéro complémentaire joué</label>
        <input type="number" name="played_bonus" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Enregistrer le tirage</button>

</form>

{% endblock %}
