{% extends "layout.html" %}
{% block content %}
<h3 class="mb-3">Gains du {{ tirage.date }}</h3>

<form method="POST">
    {% for r in tirage.results %}
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <h5>{{ r.name }}</h5>
            <p>Rang : {{ r.rank if r.rank else '-' }}</p>
            <input type="number" step="0.1" name="{{ r.name }}" class="form-control"
                   value="{{ r.gain }}">
        </div>
    </div>
    {% endfor %}

    <button class="btn btn-success w-100">Enregistrer</button>
</form>

{% endblock %}
