{% extends "layout.html" %}
{% block content %}

<div class="home-container">

    <h1 class="title">Bienvenue les Kings de la Finance</h1>

    <div class="card gains">
        <p>Vous avez déjà gagné</p>
        <h2 class="big green">{{ total_gains }} €</h2>
    </div>

    <div class="card losses">
        <p>Et vous avez dépensé</p>
        <h2 class="big red">{{ total_mises }} €</h2>
    </div>

    <div class="card best">
        <p>La meilleure grille est celle de</p>
        <h2 class="big best-player">⭐ {{ best_player }} ⭐</h2>
    </div>

</div>

{% endblock %}
